* {
    background-color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-body {
    position: relative;
    margin: auto;
    margin-top: 100px;
    background-color: white;
    height: auto;
    width: 250px;
    border: 1px solid grey;
    border-radius: 5px;
    padding-bottom: 5px;
}

.card-image {
    width: 240px;
    position: relative;
    top: 5px;
    left: 5px;
    border-radius: 5px;
}

.card-tags{
    background-color: white;
    display: flex;
    gap: 5px;
    margin-left: 5px;
    margin-top: -5px;
}

.card-tags > p{
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: x-small;
    color: grey;
}

.card-title{
    background-color: white;
    margin: 0;
    margin-left: 5px;
    margin-top: -5px;
}

.card-description{
    margin:0;
    margin-top: 7px;
    margin-left: 5px;
    background-color: white;
    font-size: small;
    color: grey;
}